.toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.example-container {
    max-height: 40vh;
    overflow: auto;
}

table {
    width: 100%;
}

tr.mat-mdc-footer-row {
    font-weight: bold;
}

.mat-mdc-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.content {
    max-width: 90%;
    flex-direction: column;
    align-items: center;
}

.mat-cell {
    align-items: center;
}

.mat-icon {
    height: 24px;
}

.mat-icon:hover {
    cursor: pointer;
}

.align-right-cell {
    text-align: right;
}